# Pycharm
.idea/

# sphinx
docs/_build/*

# My stuff
misc/

# Data files
data/output/*
data/input/*
data/training_data/*

ai_scripts/models/*

data/ai
data/input
data/output
data/plots
data/excel
data/training_data

logs/*

ini/run_ini/*
bash_scripts/slurm/*

.vscode/

# Virtual environments
.venv/
venv/
venvs/
ENV/
env/
*.pyc
__pycache__/
venvs/unity_venv/venv


data/json_input/run_mods/*

unity/experiments
unity/cluster_results
unity/specs
unity/configs
unity/.tmp_config

reinforcement_learning/plotting/figures
reinforcement_learning/experiments/
sb3_scripts/yml

fusion/configs/hyperparams/

# Coverage files
.coverage
.coverage.*
htmlcov/
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Python package metadata
*.egg-info/
